.modal-background{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0,0,0, 0.7);
}
.modalInscripcion-container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    padding: 30px;
    border-radius: 30px;
    background: rgb(255,0,118);
    background: linear-gradient(164deg, rgba(255,0,118,1) 24%, rgba(144,52,149,1) 65%); 
}
.modalInscripcion-container h2{
    margin: 10px 0px 5px 0px;
    font-size: xx-large;
    transform: skew(-12deg) rotate(-12deg);
    grid-area: text;
    margin: -10px 0;
    padding: 30px;
    color: #4a354f;
    text-shadow: 1vmin 1vmin 0 #E79C10, -1vmin -1vmin 0 white;
}

.modalInscripcion-container p{
    font-weight: 900;
    margin: 5px 0px 10px 0px;
    text-align: justify;
}
.modalInscripcion-container img{
    padding: 15px;
    border-radius: 50%;
    background-color: rgba(0,0,0, 0.5);
    width: 70px;
    margin: 15px 0;
    animation: logo-spin infinite 5s linear;
}
.botones-modal-inscripcion{
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.botones-modal-inscripcion button{
    font-weight: 900;
    margin: 0 15px;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #4a354f;
}
@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}